<a href="https://colab.research.google.com/github/yagomsv/Aulas_RNA/blob/main/Tarefa_2_RNA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Aluno: Yago Matheus da Silva Veloso

## Importando bibliotecas

In [ ]:
import pandas as pd
import numpy as np

## Escrevendo o dataframe e escolhe as variáveis de entrada e saída

In [ ]:
df = pd.DataFrame([[188, 114, 2, 39.11],
                 [224, 202, 1, 46.32],
                 [177, 297, 1, 48.98],
                 [234, 210, 2, 52.32],
                 [278, 120, 1, 45.53],
                 [248, 239, 2, 56.32],
                 [193, 262, 2, 52.06],
                 [142, 276, 1, 43.29],
                 [250, 137, 1, 43.80],
                 [218, 147, 1, 41.04],])

In [ ]:
df.columns = ['Peixe (gr)', 'Batata frita (gr)', 'Cerveja (un)', 'Preço refeição (R$)']
df

   Peixe (gr)  Batata frita (gr)  Cerveja (un)  Preço refeição (R$)
0         188                114             2                39.11
1         224                202             1                46.32
2         177                297             1                48.98
3         234                210             2                52.32
4         278                120             1                45.53
5         248                239             2                56.32
6         193                262             2                52.06
7         142                276             1                43.29
8         250                137             1                43.80
9         218                147             1                41.04

In [ ]:
X = df.drop(['Preço refeição (R$)'], axis=1, inplace=False).values
y = df['Preço refeição (R$)'].values

In [ ]:
X

array([[188, 114,   2],
       [224, 202,   1],
       [177, 297,   1],
       [234, 210,   2],
       [278, 120,   1],
       [248, 239,   2],
       [193, 262,   2],
       [142, 276,   1],
       [250, 137,   1],
       [218, 147,   1]], dtype=int64)

In [ ]:
y

array([39.11, 46.32, 48.98, 52.32, 45.53, 56.32, 52.06, 43.29, 43.8 ,
       41.04])

## Inicializando os pesos e a taxa de aprendizagem

In [ ]:
# Inicialização dos pesos
rng = np.random.default_rng()
w1= rng.random((1,)).round(2)
w2= rng.random((1,)).round(2)
w3= rng.random((1,)).round(2)

taxa_ap = 0.00001
    
print(w1,w2,w3)

0.47 [0.22] [0.75]

## Calculando as incógnitas a partir de um neurônio linear

In [ ]:
err = [0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
deltaw1 = [0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
deltaw2 = [0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
deltaw3 = [0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
z1 = [0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
z2 = [0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
z3 = [0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
MSE = 1000
EPOCHS = 0

while MSE > 0.01:
    
    for j in range(0,10):
        z1[j] = w1*X[j,0]
        z2[j] = w2*X[j,1]
        z3[j] = w3*X[j,2]
        y_pred= z1[j] + z2[j] + z3[j]
    
        err[j] = y[j]- y_pred

        deltaw1[j]= taxa_ap*(X[j,0])*(err[j])
        deltaw2[j]= taxa_ap*(X[j,1])*(err[j])
        deltaw3[j]= taxa_ap*(X[j,2])*(err[j])
        
        w1 = w1 + deltaw1[j]
        w2 = w2 + deltaw2[j]
        w3 = w3 + deltaw3[j]
        
        MSE = abs(sum(y[j]- y_pred))
        
    EPOCHS += 1
    if (EPOCHS % 10000) == 0:
        print("Número de EPOCHS é:", EPOCHS)
       

print("O Número de EPOCHS foi igual a", EPOCHS)

Número de EPOCHS é: 10000
Número de EPOCHS é: 20000
Número de EPOCHS é: 30000
Número de EPOCHS é: 40000
Número de EPOCHS é: 50000
Número de EPOCHS é: 60000
Número de EPOCHS é: 70000
Número de EPOCHS é: 80000
Número de EPOCHS é: 90000
Número de EPOCHS é: 100000
O Número de EPOCHS foi igual a 104983

In [ ]:
MSE

0.009999897464702201

In [ ]:
print("O valor do MSE é {:.3f}".format(MSE))
print("Os valores dos pesos (w1, w2 e w3), são respectivamente iguais à",w1, w2, w3)

O valor do MSE é 0.010
Os valores dos pesos (w1, w2 e w3), são respectivamente iguais à [0.1130932] [0.08389623] [4.04985074]

### O preço de cada parcela que compõe as refeições são:
- <b>Peixe: R$ 0,1130 para cada grama de produto

- <b>Batata frita: R$ 0,08389 para cada grama de produto

- <b>Cerveja: R$ 4,049 por unidade

In [ ]:
preco_demonst = 100*w1 + 100*w2 + 1*w3
print("O Preço para 100 g de peixe é: R$", (100*w1))
print("O Preço para 100 g de batata frita é: R$", (100*w2))
print("O Preço de uma unidade de cerveja é: R$", (1*w3))
print("O Preço total: R$", preco_demonst)

O Preço para 100 g de peixe é: R$ [11.30931986]
O Preço para 100 g de batata frita é: R$ [8.38962272]
O Preço de uma unidade de cerveja é: R$ [4.04985074]
O Preço total: R$ [23.74879332]